@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Coded by: King [Alimohammad Eghbaldar]</h1>
    <br />
    <a href="https://eghbaldar.ir" target="_blank">eghbaldar.ir</a>
    <br/>
    <a href="" target="_blank"> </a>
    <hr />
<div style="direction:ltr;text-align:left;">
        <h4>Description - via: Querystring:</h4>
        <ul>
            <li>
                <span>
                    If you click on ProtectedPage1 menu, you cannot access to ProtectedPage1 page, because of using [CustomAccess] attribute.
                </span>
            </li>
            <li>
                <span>If you click on ProtectedPage1Allowed, you can access to it due to using a querystring</span>
            </li>
        </ul>
        <h4>Description - via Cookie :</h4>
        <ul>
            <li>
                <span>
                    If you click on ProtectedPage2 menu, you cannot access to ProtectedPage1 page, because of using [CookieAccess] attribute.
                </span>
            </li>
            <li>
                <span>If you click on ProtectedPage2Allowed, you can access to it due to using a cookie that is created before. </span>
            </li>
        </ul>
</div>
</div>
