@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Coded by: King [Alimohammad Eghbaldar]</h1>
    <br />
    <a href="https://eghbaldar.ir" target="_blank">eghbaldar.ir</a>
    <br/>
    <a href="https://github.com/eghbaldar/asp-net-core-mvc-customized-attribute" target="_blank">https://github.com/eghbaldar/asp-net-core-mvc-customized-attribute </a>
    <hr />
    <h4>Description:</h4>
    <ul>
        <li>
            <span>
                If you click on Privacy menu, you can access to Privacy page, because of using [CustomAccess] attribute.
            </span>
        </li>
        <li>
            <span>If you click on PrivacyAllowed, you can access to it due to using a querystring</span>
        </li>
    </ul>
</div>
